In [1]:
import pandas as pd
import numpy as np

In [2]:
df_final = pd.read_csv('final.csv', usecols= ['3A', '3H', '3V', '4A', '4H', '4V', 'Condição'])
df_final.head()

        3A        3H        3V       4A        4H       4V       Condição
0  1.38820  0.378880  0.004087 -0.31487 -0.014177 -0.17457  Desbalanceado
1  0.65285 -0.008811 -0.036859 -0.34948 -0.027327 -0.19829  Desbalanceado
2  0.86068  0.236280 -0.028984 -0.35797 -0.017951 -0.20064  Desbalanceado
3  1.20710  0.118150 -0.027822 -0.33238 -0.020319 -0.16756  Desbalanceado
4  0.59546 -0.042300 -0.038420 -0.38188 -0.016411 -0.19427  Desbalanceado

In [3]:
# Normalização dos dados com sklearn
from sklearn.preprocessing import StandardScaler

# Separando as features
y = df_final['Condição'].values
x = df_final.drop(columns=['Condição']).values
# Normalizando
x = StandardScaler().fit_transform(x)

In [4]:
type(x)

numpy.ndarray

In [5]:
normalizado = pd.DataFrame(data = x)
df_normalizado = pd.concat([normalizado, df_final[['Condição']].reset_index(drop=True)], axis = 1)
df_normalizado

,0,1,2,3,4,5,Condição
0,1.543364,0.469632,0.002983,-0.757807,-0.220182,-0.266181,Desbalanceado
1,0.719687,-0.012959,-0.099885,-0.832223,-0.369122,-0.290297,Desbalanceado
2,0.952481,0.292127,-0.080101,-0.850477,-0.262927,-0.292687,Desbalanceado
3,1.340511,0.145080,-0.077182,-0.795456,-0.289748,-0.259053,Desbalanceado
4,0.655403,-0.054645,-0.103807,-0.901886,-0.245485,-0.286210,Desbalanceado
...,...,...,...,...,...,...,...
1949998,0.129430,-0.343434,0.950930,-0.488656,-0.483890,-1.211159,Normal
1949999,0.329472,0.720344,0.612197,-0.455092,-0.459539,-1.145783,Normal
1950000,-0.498642,-0.476178,-0.571471,-0.488914,-0.514856,-1.228748,Normal
1950001,0.088727,0.487981,-1.348624,-0.462962,-0.485056,-1.257928,Normal
1950002,-0.703813,-0.553529,-1.330033,-0.447567,-0.467535,-1.410641,Normal

In [6]:
df_normalizado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1950003 entries, 0 to 1950002
Data columns (total 7 columns):
 #   Column    Dtype
---  ------    -----
 0   0         float64
 1   1         float64
 2   2         float64
 3   3         float64
 4   4         float64
 5   5         float64
 6   Condição  object
dtypes: float64(6), object(1)
memory usage: 104.1+ MB

In [7]:
df_normalizado.isnull()

             0      1      2      3      4      5  Condição
0        False  False  False  False  False  False     False
1        False  False  False  False  False  False     False
2        False  False  False  False  False  False     False
3        False  False  False  False  False  False     False
4        False  False  False  False  False  False     False
...        ...    ...    ...    ...    ...    ...       ...
1949998  False  False  False  False  False  False     False
1949999  False  False  False  False  False  False     False
1950000  False  False  False  False  False  False     False
1950001  False  False  False  False  False  False     False
1950002  False  False  False  False  False  False     False

[1950003 rows x 7 columns]

In [8]:
df_normalizado = df_normalizado.dropna()

In [9]:
df_normalizado['Condição'] = df_normalizado['Condição'].replace('Desbalanceado','1')
df_normalizado['Condição'] = df_normalizado['Condição'].replace('Desalinhamento_Horizontal','2')
df_normalizado['Condição'] = df_normalizado['Condição'].replace('Desalinhamento_Vertical','3')
df_normalizado['Condição'] = df_normalizado['Condição'].replace('Normal','4')

In [10]:
df_normalizado.head()

          0         1         2         3         4         5 Condição
0  1.543364  0.469632  0.002983 -0.757807 -0.220182 -0.266181        1
1  0.719687 -0.012959 -0.099885 -0.832223 -0.369122 -0.290297        1
2  0.952481  0.292127 -0.080101 -0.850477 -0.262927 -0.292687        1
3  1.340511  0.145080 -0.077182 -0.795456 -0.289748 -0.259053        1
4  0.655403 -0.054645 -0.103807 -0.901886 -0.245485 -0.286210        1

In [11]:
df_normalizado.tail()

                0         1         2         3         4         5 Condição
1949998  0.129430 -0.343434  0.950930 -0.488656 -0.483890 -1.211159        4
1949999  0.329472  0.720344  0.612197 -0.455092 -0.459539 -1.145783        4
1950000 -0.498642 -0.476178 -0.571471 -0.488914 -0.514856 -1.228748        4
1950001  0.088727  0.487981 -1.348624 -0.462962 -0.485056 -1.257928        4
1950002 -0.703813 -0.553529 -1.330033 -0.447567 -0.467535 -1.410641        4

In [12]:
df_normalizado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1950003 entries, 0 to 1950002
Data columns (total 7 columns):
 #   Column    Dtype
---  ------    -----
 0   0         float64
 1   1         float64
 2   2         float64
 3   3         float64
 4   4         float64
 5   5         float64
 6   Condição  object
dtypes: float64(6), object(1)
memory usage: 104.1+ MB

In [13]:
df_normalizado['Condição'] = df_normalizado['Condição'].astype(int)
df_normalizado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1950003 entries, 0 to 1950002
Data columns (total 7 columns):
 #   Column    Dtype
---  ------    -----
 0   0         float64
 1   1         float64
 2   2         float64
 3   3         float64
 4   4         float64
 5   5         float64
 6   Condição  int64
dtypes: float64(6), int64(1)
memory usage: 104.1 MB

In [14]:
df_normalizado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1950003 entries, 0 to 1950002
Data columns (total 7 columns):
 #   Column    Dtype
---  ------    -----
 0   0         float64
 1   1         float64
 2   2         float64
 3   3         float64
 4   4         float64
 5   5         float64
 6   Condição  int64
dtypes: float64(6), int64(1)
memory usage: 104.1 MB

In [15]:
df_normalizado.tail()

                0         1         2         3         4         5  Condição
1949998  0.129430 -0.343434  0.950930 -0.488656 -0.483890 -1.211159         4
1949999  0.329472  0.720344  0.612197 -0.455092 -0.459539 -1.145783         4
1950000 -0.498642 -0.476178 -0.571471 -0.488914 -0.514856 -1.228748         4
1950001  0.088727  0.487981 -1.348624 -0.462962 -0.485056 -1.257928         4
1950002 -0.703813 -0.553529 -1.330033 -0.447567 -0.467535 -1.410641         4

In [16]:
df_normalizado.columns = ['3A','3H','3V','4A','4H','4V','Condição']
df_normalizado.head()

         3A        3H        3V        4A        4H        4V  Condição
0  1.543364  0.469632  0.002983 -0.757807 -0.220182 -0.266181         1
1  0.719687 -0.012959 -0.099885 -0.832223 -0.369122 -0.290297         1
2  0.952481  0.292127 -0.080101 -0.850477 -0.262927 -0.292687         1
3  1.340511  0.145080 -0.077182 -0.795456 -0.289748 -0.259053         1
4  0.655403 -0.054645 -0.103807 -0.901886 -0.245485 -0.286210         1

In [17]:
dados = df_normalizado.drop('Condição', axis='columns')
y = df_normalizado['Condição']
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(dados, y, test_size=0.3, shuffle=True)

In [18]:
print("Shape of Train Data : {}".format(X_train.shape))
print("Shape of Test Data : {}".format(X_test.shape))

Shape of Train Data : (1365002, 6)
Shape of Test Data : (585001, 6)

In [19]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 3) #n_neighbors = k
knn.fit(X_train,y_train)
print("k={}NN Accuracy on Train Data: {}".format(3,knn.score(X_train,y_train)))
print("k={}NN Accuracy on Test Data: {}".format(3,knn.score(X_test,y_test)))

k=3NN Accuracy on Train Data: 0.7982105520724512
k=3NN Accuracy on Test Data: 0.641176681749262